  <%= @gallery.name %>
  <%= form_with url: add_gallery_images_path(@gallery), local: true do |f| %>
    <div class="input-group mb-3">
      <div class="custom-file">
        <%= f.file_field :images, multiple: true, class: 'custom-file-input', id: 'foto-galeria', accept: '.png, .jpg, .jpeg', required: true %>
        <%= f.label "Foto da galeria", class: 'custom-file-label' %>
      </div>
      <div class="input-group-append">
        <%= f.submit "Upload", class: "input-group-text bg-primary text-light" %>
      </div>
    </div>
  <% end %>

  <% if @gallery.images.attached? %>
      <% @gallery.images.each_with_index do |photo, index| %>
        <%= image_tag photo, class: 'image', alt: "Foto do par" %>
      <% end %>

  <% else %>
      <p> Adicione imagens! </p>
  <% end %>