<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- Required meta tags -->
  <title>Mylla Festas</title>
  <meta name="title" content="Mylla Festas">
  <meta name="subject" content="Promoção de eventos de festas infantís">
  
  <meta name="author" content="Fernando, fernando.jsts@gmail.com">
  <meta name="owner" content="Camylla Santos Barbosa e Marcus Vinicius Santos Melo">
  
  <meta name="keywords" content="Festas, evento para crianças, crianças, evento infantil, infantil, festa infantil, festas infatis">
  <meta name="description" content="Website sobre eventos ao público infantil. Desenvolvido em Rails 5, por Fernando (Dev Júnior)">
  
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-language" content="pt-br"/>



  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/flash-notification-bar' %>
  <%= yield %>
</body>
</html>
